<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- <plugins>
        &lt;!&ndash; com.github.pagehelper 为 PageHelper 类所在包名 &ndash;&gt;
        <plugin interceptor="com.github.pagehelper.PageHelper">
            &lt;!&ndash; 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL 六种数据库&ndash;&gt;
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>-->

    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGenerateedKeys获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签替换列别名 默认：true-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换:Table{create_time} -> Entity{createTime}-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>